{% extends 'main/base.html' %}

{% block title %}
Новость
{% endblock %}

{% block content %}
    <h1>Заполните поля новости</h1>
        <form method="post">
            {% csrf_token %}
            <br><select name="tag" required>
                <option disabled selected value> -- Выберете категорию -- </option>
                <option value="pc">pc</option>
                <option value="кино">кино</option>
            </select><br>
            <br>{{ form.title }}<br>
            <br>{{ form.full_text }}<br>

            <button class="btn btn-success" type="submit">Сохранить</button>
            <span>{{ error }}</span>
        </form>
{% endblock %}
