{% extends 'main/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
    <h1>Главная</h1>
        <form method="post">
            <b>Данное приложение отображает и фильтрует по двум категориям новости с сайта Stopgame.</b>
            <br><em>Все статьи разделены по тегам: pc и кино.<br>
            <br>Также имеется бинарный классификатор, который определяет,<br>
            к какому из двух тегов отностся введённый текст<br>
            Автор - Нигматуллин Руслан М3О-221-21</em><br><br>
            <br>
        </form>
{% endblock %}
