{% extends 'main/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
    <h1>Главная</h1>
        <form method="post">
            <b>Данное приложение отображает новости с сайта Stopgame.</b>
            <br><em>Все статьи разделены по тегам: pc и кино.<br>
            Автор - Нигматуллин Руслан М3О-221-21</em><br><br>
            В дальнейшем планируется добавление фильтров и подключение классификатора,
            к которому заготовлена страница.<br>
        </form>
{% endblock %}
